*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    flex-direction: column-reverse;
}
#quiz{
    text-align: center;
    width: 70%;
    padding: 1rem; 
    border-radius: 2rem;
    background-color: #fff;
    position: relative;
}

#options{
    display: flex;
    flex-wrap: wrap;
}
#options p {
    width: 47%;
    margin: 5px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.scorePara{
    font-weight: bold;
    font-size: 2rem;
}
.selectedOption{
    box-shadow: 2px 2px 1px 2px rgba(0,0,0,0.4);
    background-color: #000 !important;
}
.question .photo{
    width: 150px;
    border: 1px solid;
    padding: 0.5rem;
}
.timer{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question, #options{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#counter{
    display: flex;
    margin-bottom: 3rem;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}
.count:after {
    content: '';
    position: absolute;
    border: 1px solid;
    left: 100%;
    top: 45%;
    width: 33px;
}
.count:last-of-type::after{
    border: none;
}


.countAttempted {
    background-color: green; 
  }
  
  .countNotAttempted {
    background-color: red; 
  }
  
  